.current_read_block
  .book_cover
    = image_tag('bookcover.jpg')
  .book_details
    %h3.title The Collapsing Empire
    .author John Scalzi
    %p.text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut voluptate pariatur tenetur eum at velit ad iusto commodi natus explicabo accusantium sint incidunt perferendis, obcaecati inventore, accusamus delectus deserunt veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Est officia sunt quisquam officiis fugiat rerum et vitae eveniet, ratione, quos recusandae distinctio. Laborum eligendi repellendus quo, deserunt facilis praesentium quis? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    %br/
    Quasi fugit natus aliquam reprehenderit libero nihil, doloribus blanditiis amet illo neque? Dolorem expedita, voluptatibus porro veniam tempora quas temporibus aspernatur ut.Perferendis fuga, in, debitis corrupti odio optio incidunt tempore vero, accusamus quo pariatur molestias. Dolorem possimus tenetur totam, voluptate nobis id est eum. 
    %br/
    %br/
    Beatae nesciunt, quo omnis incidunt hic minima.Nulla adipisci enim sequi soluta fugiat, illo nam laboriosam porro. Neque quas voluptatibus magni placeat vero fuga, nemo, iste ipsa nostrum quo expedita doloremque inventore iure! Modi minus maxime corporis.Corporis iure eum magnam provident vel repellendus quos, ipsa, laboriosam repellat dignissimos quibusdam commodi cumque labore facilis ullam architecto rem beatae eos eaque laudantium. Nisi obcaecati aspernatur dignissimos deleniti iusto!