.container
  .header
    %h1 Voting Session for #{@voting_session.group.name}
.container
  -if @voting_session.recommendations.any?
    %ul
      -@voting_session.recommendations.each do |r|
        %li= r.book.name
