%h1 Books#show
%p Find me in app/views/books/show.html.haml

=link_to('edit', edit_book_path(@book.id)) if allowed_to?(:edit?, @book)

%h2 Recommended to:
%ul
  -@book.recommendations.each do |r|
    %li=r.group.name
